


body{ background-image: url(background.jpg);
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      background-attachment: fixed; /* essa propriedade serve para não deixar a imagem scrolar*/
      background-size: cover;
      background-position: right bottom;


  }

h1 {
    background: rgba(207, 245, 236, 1) ;
    width: 466px;
    height: 69;
    margin: 30px auto 0 auto;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 17px;
    
  
}

h2 {background:rgba(111, 168, 161, 1) ;
    width: 1738 px;
    height: 196px;
    margin: 150px auto 0 auto;
    text-align: right;
}

h3{

    }
    
border-radius: 5px;
    padding: 10px;}








